/* header styles */

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 5px .3px rgba($black, .2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    @include media("<desktop") {
      min-height: 82px;
    }

    @include media("<tablet") {
      min-height: 72px;
    }

    @include media("<phone") {
      min-height: 60px;
    }
  }

  .admin-bar & {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }
}
