/* main styles */

.main {
  position: relative;
  padding: 0 0 55px;
  overflow: hidden;
  z-index: 2;

  @include media("<widescreen") {
    padding: 0 0 50px;
  }

  @include media("<desktop-lg") {
    padding: 0 0 40px;
  }

  @include media("<desktop") {
    padding: 0 0 30px;
  }

  @include media("<tablet") {
    padding: 0 0 20px;
  }
}
